/* reset de margens */
* {
    margin: 0;
    padding:0;
}

.corpo{
	width: 80%;
	margin: 0px auto 0px auto;

}

h1{
	text-align: center;
}

table{
	margin: 0 auto 0 auto;


}

td{
	padding-left: 15px;
	padding-bottom: 20px;
}
